# Default ignored files
/../../TorexTalk /.idea/shelf/
/../../TorexTalk /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../TorexTalk /.idea/httpRequests/
# Datasource local storage ignored files
/../../TorexTalk /.idea/dataSources/
/../../TorexTalk /.idea/dataSources.local.xml
